In [2]:
#importing required library
from selenium import webdriver # To access the browser and website
import pandas as pd  # To format the strutured data
import time # To pause/hold the step by step process

# EXception lib
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)
time.sleep(3)

# creating empty list
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

# Fetching rank details
rank=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
for i in rank:
    try:
        Rank.append(i.text.replace(".",""))
    except:
        Rank.append("-")
        
        time.sleep(1)
        
# Fetching name details

name=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append("-")
        
 # Fetching artist details
       
artist=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
for i in artist:
    try:
        Artist.append(i.text)
    except:
        Artist.append("-")
        
        time.sleep(1)
        
# Fetching upload details


upload=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
for i in upload:
    try:
        Upload_Date.append(i.text)
    except:
        Upload_Date.append("-")
        
        time.sleep(1)
        
# Fetching views details


views=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
for i in views:
    try:
        Views.append(i.text)
    except:
        views.append("-")
        
        time.sleep(1)
        
#creating a Data Frame
Most_Viewed_Youtube_Videos=pd.DataFrame([])
Most_Viewed_Youtube_Videos["Rank"]=Rank
Most_Viewed_Youtube_Videos["Name"]=Name
Most_Viewed_Youtube_Videos["Artist"]=Artist
Most_Viewed_Youtube_Videos["Upload_Date"]=Upload_Date
Most_Viewed_Youtube_Videos["Views"]=Views
time.sleep(1)
Most_Viewed_Youtube_Videos

,Rank,Name,Artist,Upload_Date,Views
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
1,2,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
3,4,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
5,6,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
7,8,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
8,9,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
9,10,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
11,12,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
13,14,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
18,19,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
22,23,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
29,30,"""Hello""[55]",Adele,"October 22, 2015",2.86

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [20]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url=('https://www.bcci.tv/')
driver.get(url)
time.sleep(3)

# creating empty list
Match_title = []
Series = []
Place = []
Date = []
Time=[]
time.sleep(3)


# navigating to international fixture
international = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
international.click()
time.sleep(2)

fixture = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute('href')
driver.get(fixture)
time.sleep(2)

In [24]:
# Fetching Match_title details


title=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[2]")
for i in title:
    try:
        Match_title.append(i.text)
    except:
        Match_title.append("-")
        time.sleep(1)
        
        
# Fetching Series details

name_series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name_series:
    try:
        Series.append(i.text)
    except:
        Series.append("-")
        time.sleep(1)
        
# Fetching Place details

        
place_name=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place_name:
    try:
        Place.append(i.text)
    except:
        Place.append("-")
        time.sleep(1)
        
        
  # Fetching Date_time details
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for i in range(len(date)):
    Date.append(date[i].text+month[i].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for i in time:
    Time.append(i.text)

In [28]:
#creating Data Frame
India_international_fixtures=pd.DataFrame([])
India_international_fixtures["Match_Title"]=Match_title[:6]
India_international_fixtures["Series"]=Series[:6]
India_international_fixtures["Place"]=Place[:6]
India_international_fixtures["Date"]=Date[:6]
India_international_fixtures["Time"]=Time[:6]
India_international_fixtures

,Match_Title,Series,Place,Date,Time
0,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
1,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",12AUGUST,15:30 IST
2,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",25AUGUST,15:30 IST
3,ENGLAND V INDIA 2021,4th Test,"The Oval, London",02SEPTEMBER,15:30 IST
4,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST
5,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",04AUGUST,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [160]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url=("https://www.guru99.com/")
driver.get(url)
time.sleep(3)

# creating empty list
Name = []
Description = []

time.sleep(3)

In [161]:
# Selecting selenium topic
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()
time.sleep(3)

search_ex=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
search_ex.click()

In [167]:
#fetching name details
exception=driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
for i in exception:
    try:
        Name.append(i.text)
    except:
        Name.append("-")
        time.sleep(1)
        
#fetching description details

description=driver.find_elements_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")
for i in description:
    try:
        Description.append(i.text)
    except:
        Description.append("-")
        
        time.sleep(2)

In [164]:
# deleting the title entry in all the list
Name.pop(0)
Description.pop(0)

'Description'

In [166]:
#creating the Data Frame
Selenium_Exception= pd.DataFrame([])
Selenium_Exception['Exception']=Name[:40]
Selenium_Exception['Description']=Description[:40]
Selenium_Exception

,Exception,Description
0,ElementNotSelectableException,This type of Selenium exception occurs when an...
1,NoSuchElementException,This Selenium exception occurs when an element...
2,NoSuchFrameException,This Exception occurs if an element could not ...
3,NoAlertPresentException,This Exception occurs if the frame target to b...
4,NoSuchWindowException,This Exception occurs when you switch to no pr...
5,StaleElementReferenceException,This Exception occurs if the window target to ...
6,SessionNotFoundException,This Selenium exception occurs happens when th...
7,TimeoutException,The WebDriver is acting after you quit the bro...
8,WebDriverException,Thrown when there is not enough time for a com...
9,ConnectionClosedException,This Exception takes place when the WebDriver ...
10,ElementClickInterceptedException,This type of Exception takes place when there ...
11,ElementNotInteractableException,The command may not be completed as the elemen...
12,ErrorInResponseException,This Selenium exception is thrown when any ele...
13,ErrorHandler.UnknownServerException,This happens while interacting with the Firefo...
14,ImeActivationFailedException,Exception is used as a placeholder in case if ...
15,ImeNotAvailableException,This expectation will occur when IME engine ac...
16,InsecureCertificateException,It takes place when IME support is unavailable.
17,InvalidArgumentException,Navigation made the user agent to hit a certif...
18,InvalidCookieDomainException,It occurs when an argument does not belong to ...
19,InvalidCoordinatesException,This happens when you try to add a cookie unde...
20,InvalidElementStateExceptio,This type of Exception matches an interacting ...
21,InvalidSessionIdException,It occurs when command can't be finished when ...
22,InvalidSwitchToTargetException,This Exception took place when the given sessi...
23,JavascriptException,This occurs when the frame or window target to...
24,JsonException,This issue occurs while executing JavaScript g...
25,NoSuchAttributeException,It occurs when you afford to get the session w...
26,MoveTargetOutOfBoundsException,This kind of Exception occurs when the attribu...
27,NoSuchContextException,It takes place if the target provided to the A...
28,NoSuchCookieException,ContextAware does mobile device testing.
29,NotFoundException,This Exception occurs when no cookie matching ...
30,RemoteDriverServerException,This Exception is a subclass of WebDriverExcep...
31,ScreenshotException,This Selenium exception is thrown when the ser...
32,SessionNotCreatedException,It is not possible to capture a screen.
33,UnableToSetCookieException,It happens when a new session could not be suc...
34,UnexpectedTagNameException,This occurs if a driver is unable to set a coo...
35,UnhandledAlertException,Happens if a support class did not get a web e...
36,UnexpectedAlertPresentException,This expectation occurs when there is an alert...
37,UnknownMethodException,It occurs when there is the appearance of an u...
38,UnreachableBrowserException,This Exception happens when the requested comm...
39,UnsupportedCommandException,This Exception occurs only when the browser is...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [69]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url=("http://statisticstimes.com/")
driver.get(url)
time.sleep(2)

#clicking the economy drop down
eco_button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
eco_button.click()
time.sleep(2)

#clicking the india button
india_button=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [71]:
#clicking the State gdp
state_gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [72]:
#creating empty list
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_2019=[]
GDP_USD_billion=[]
time.sleep(3)

# Fetching rank details


position = driver.find_elements_by_xpath('//td[@class="data1"]')
for i in position:
    try:
        Rank.append(i.text)
    except:
        Rank.append('-')
        time.sleep(1)
        
        
# Fetching State details

        
state = driver.find_elements_by_xpath('//td[@class="name"]')
for i in state:
    try:
        State.append(i.text)
    except:
        State.append('-')
        
        
        time.sleep(1)
        
 # Fetching 19-20 details

        
year_19_20 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
for i in year_19_20:
    try:
        GSDP_19_20.append(i.text)
    except:
        GSDP_19_20.append('-')
        
        time.sleep(1)
        
# Fetching year18-19 details

        
year_18_19 = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in year_18_19:
    try:
        GSDP_18_19.append(i.text)
    except:
        GSDP_18_19.append('-')
        
        time.sleep(1)
        
# Fetching Share_2019 details

        
share = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    try:
        Share_2019.append(i.text)
    except:
        Share_2019.append('-')
        
        time.sleep(1)
        
        
# Fetching billions details

        
billion = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
for i in billion:
    try:
        GDP_USD_billion.append(i.text)
    except:
        GDP_USD_billion.append('-')
        
        time.sleep(1)

#creating a dataframe
GDP_of_India=pd.DataFrame([])
GDP_of_India["Rank"]=Rank[:33]
GDP_of_India["State"]=State[:33]
GDP_of_India["GSDP_19_20"]=GSDP_19_20[:33]
GDP_of_India["GSDP_18_19"]=GSDP_18_19[:33]
GDP_of_India["Share_2019"]=Share_2019[:33]
GDP_of_India["GDP_USD_billion"]=GDP_USD_billion[:33]
GDP_of_India

,Rank,State,GSDP_19_20,GSDP_18_19,Share_2019,GDP_USD_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [45]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url='https://github.com/'
driver.get(url)
time.sleep(2)

In [47]:
#clicking the explore button
explore_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore_button.click()
time.sleep(2)

#clicking trending option
trend_opt = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3'][2]/li[3]/a")
action.click(trend_opt).perform()

In [49]:
# Create empty list
Repository_title = []
Repository_description= []
Contributors_count= []
Language_used= []

#Fetaching repository title detail
repository=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
for i in repository:
    try:
        Repository_title.append(i.text)
    except:
        Repository_title.append("-")
        
#creating  description detail
repo_desc=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
for i in repo_desc:
    try:
        Repository_description.append(i.text)
    except:
        Repository_description.appens("-")
        
#Fethching  contributor detail
contributor=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]")
for i in contributor:
    try:
        Contributors_count.append(i.text)
    except:
        Contributors_count.append("-")

#Featching repository language detail
lang=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in lang:
    try:
        Language_used.append(i.text)
    except:
        Language_used.append("-")
        
        
#creating a data frame
Trending_repositories=pd.DataFrame([])
Trending_repositories["Repository_title"]=Repository_title[0:20]
Trending_repositories["Repository_description"]=Repository_description[0:20]
Trending_repositories["Contributors_count"]=Contributors_count[0:20]
Trending_repositories["Language_used"]=Language_used[0:20]

In [50]:
Trending_repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,71,Python
1,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS","1,684",CSS
2,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"26,195",JavaScript
3,bytedance / flutter_ume,UME is an in-app debug kits platform for Flutt...,46,Dart
4,MoonBegonia / ninja,人人可用的开源数据可视化分析工具。,129,JavaScript
5,dataease / dataease,🌱《 Spring 手撸专栏》，本专栏以 Spring 源码学习为目的，通过手写简化版 Sp...,120,Java
6,fuzhengwei / small-spring,"Push-button installer of macOS Catalina, Mojav...",85,Java
7,myspaghetti / macos-virtualbox,Tracking interesting Linux (and UNIX malware)....,708,Shell
8,timb-machine / linux-malware,A complete computer science study plan to beco...,5,Python
9,jwasham / coding-interview-university,A generalized framework for prototyping full-s...,"50,611",TypeScript
10,ucla-mobility / OpenCDA,The open source Firebase alternative. Follow t...,19,Shell
11,supabase / supabase,Node Version Manager - POSIX-compliant bash sc...,732,C++
12,nvm-sh / nvm,GoogleTest - Google Testing and Mocking Framework,"5,126",TypeScript
13,google / googletest,The modern web developer’s platform,"7,724",Python
14,angular / angular,Roadmap to becoming a web developer in 2021,"19,658",Python
15,kamranahmedse / developer-roadmap,分享 GitHub 上有趣、入门级的开源项目,"24,103",TypeScript
16,521xueweihan / HelloGitHub,Collection of Summer 2022 tech internships!,"6,593",TypeScript
17,pittcsc / Summer2022-Internships,Web app for adding EU Digital COVID Certificat...,479,Go
18,covidpass-org / covidpass,"Node.js library to automate Chromium, Firefox ...",22,JavaScript
19,microsoft / playwright,Official implementation of IoTeX blockchain pr...,"1,100",Dart

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
Url = 'https://www.billboard.com/'
driver.get(Url)
time.sleep(2)

#creating empty list
Song_Name=[]
Artist_Name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_Charts=[]

#clicking the Charts button
charts=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[6]/a')
charts.click()
time.sleep(2)

In [30]:
#clicking the HOT 100 button
hot100=driver.find_element_by_xpath('//div[@class="three-sixty-bar-detailed-card__image-title font--bold text--uppercase"]')
hot100.click()
time.sleep(1)

In [31]:
#Fetching  song name 
name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in name:
    try:
        Song_Name.append(i.text)
    except:
        Song_Name.append("-")

        time.sleep(1)
        
#Fetching  Artist name detail
artist=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    try:
        Artist_Name.append(i.text)
    except:
        Artist_Name.append("-")

        time.sleep(1)
            
#Fetching  last week detail
last_week=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in last_week:
    try:
        Last_week_rank.append(i.text)
    except:
        Last_week_rank.append("-")

        time.sleep(1)
        
#Fetching peak rank detail
peak=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    try:
        Peak_rank.append(i.text)
    except:
        Peak_rank.append("-")

        time.sleep(1)
        
        
#Fetching weeks on charts detail
charts=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in charts:
    try:
        Weeks_on_Charts.append(i.text)
    except:
        Weeks_on_Charts.append("-")

        time.sleep(2)
        
#creating the data frame
Top_100_songs=pd.DataFrame([])
Top_100_songs["Song_Name"]=Song_Name[:100]
Top_100_songs["Artist_Name"]=Artist_Name[:100]
Top_100_songs["Last_week_rank"]=Last_week_rank[:100]
Top_100_songs["Peak_rank"]=Peak_rank[:100]
Top_100_songs["Weeks_on_Charts"]=Weeks_on_Charts[:100]
Top_100_songs

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_Charts
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [13]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
Url = 'https://www.naukri.com/'
driver.get(Url)
time.sleep(2)

In [14]:
#clicking the recruiters button
recruiters=driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute('href')
driver.get(recruiters)
time.sleep(2)

# Searching Datascience position in recruiter page
search_box = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
search_box.send_keys("Data science")
time.sleep(2)

search_btn = driver.find_element_by_id("qsbFormBtn")
search_btn.click()
time.sleep(2)

#creating empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [19]:
# Fetching Name detail
name= driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append('-')
        
        time.sleep(1)
# Fetching Designation detail
place= driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in place:
    try:
        Designation.append(i.text)
    except:
        Designation.append('-')
        
        time.sleep(1)
        
# Fetching Company detail
Organisation= driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in Organisation:
    try:
        Company.append(i.text)
    except:
        Company.append('-')
        
        time.sleep(1)
# Fetching skills detail
roll= driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in roll:
    try:
        Skills.append(i.text)
    except:
        Skills.append('-')
        
        time.sleep(1)
        
        
# Fetching Location detail
location= driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for i in location:
    try:
        Location.append(i.text)
    except:
        Location.append('-')
        
        time.sleep(1)
        
#creating the Data Frame
Data_scientist_recruiters=pd.DataFrame([])
Data_scientist_recruiters["Name"]=Name[:48]
Data_scientist_recruiters["Designation"]=Designation[:48]
Data_scientist_recruiters["Company"]=Company[:48]
Data_scientist_recruiters["Skills"]=Skills[:48]
Data_scientist_recruiters["Location"]=Location[:48]
Data_scientist_recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,Data Science Network,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Enerlytics Software Solutions Pvt Ltd,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,LibraryXProject,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Apidel Technologies Division of Transpower,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,IFMR,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,Techvantage Systems Pvt Ltd,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Weupskill- Live Wire India,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,CBL Data Science Private Limited,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Innominds Software,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,MoneyTap,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,QuantMagnum Technologies Pvt. Ltd.,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,Bristlecone India Ltd,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,SocialPrachar.com,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,BISP Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,Easi Tax,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,Novelworx Digital Solutions,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,FirstTech Consaltants Pvt.Ltd,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Affine Analytics,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,NEAL ANALYTICS SERVICES PVT LTD,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Compumatrice Multimedia Pvt Ltd,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,Exela Technologies,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Autumn Leaf Consulting Services Private...,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,trainin,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Nanoprecise Sci Corp,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,R.S Consultancy &amp; Services,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,Independent Consultant,"Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,Confidential,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,"Dollarbird Information Services Pvt, Ltd","Python, Artificial Intelligence, Machine Learn...",Noida
33,Prateek Kumar,Head,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,Techcovery,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,Trisect,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,ASCO consulting,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",NY INST,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,3D India Staffing Research &amp; Consulting...,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,O.C. Tanner,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Demand Matrix,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,MADHUSUDHAN SRIDHAR,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Suntech Global,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,Strategic Consulting Lab,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Impel Labs Pvt. Ltd.,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,MRP Advisers,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,Saras Solutions India Pvt Ltd,"Software Development, Core Java, Unit Testing,...",Noida
47,Amir Chowdhury,Managing Partner,WildJasmine,"Machine Learning, Data Science, Product Manage...",Mumbai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [75]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
Url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(Url)
time.sleep(2)

In [77]:
#creating empty list
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

#Fetching book name detail
bookname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bookname:
    try:
        Book_Name.append(i.text)
    except:
        Book_Name.append("-")
        
#Fetching author name detail
authorname=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in authorname:
    try:
        Author_Name.append(i.text)
    except:
        Author_Name.append("-")
        
#Fetching volumes sold detail
volumesold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in volumesold:
    try:
        Volumes_Sold.append(i.text)
    except:
        Volumes_Sold.append("-")
        
#Fetching publisher detail
publisher=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in publisher:
    try:
        Publisher.append(i.text)
    except:
        Publisher.append("-")
        
#Fetching genre detail
genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")
 
    #creating Data Frame
Highest_selling_novels=pd.DataFrame([])
Highest_selling_novels["Book_Name"]=Book_Name
Highest_selling_novels["Author_Name"]=Author_Name
Highest_selling_novels["Volumes_Sold"]=Volumes_Sold
Highest_selling_novels["Publisher"]=Publisher
Highest_selling_novels["Genre"]=Genre
Highest_selling_novels

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
78,Jamie's Italy,"Oliver, Jamie","906,968",Penguin,National & Regional Cuisine
79,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
80,Down Under,"Bryson, Bill","890,847",Transworld,Travel Writing
81,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
82,Small Island,"Levy, Andrea","869,659",Headline,

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [115]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url = ('https://www.imdb.com/list/ls095964455/')
driver.get(url)

In [112]:
# Create Empty list
Name =[]
Year_span = []
Genre= []
Run_Time= []
Ratings= []
Votes = []

#Fetching  name list
name=driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    try:
        Name.append(i.text)
    except:
        Name.append("-")
        
        
year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    try:
        Year_span.append(i.text)
    except:
        Year_span.append("-")
        
genre=driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genre:
    try:
        Genre.append(i.text)
    except:
        Genre.append("-")
        
run=driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run:
    try:
        Run_Time.append(i.text)
    except:
            Run_Time.append("-")
        
ratings=driver.find_elements_by_xpath("//div[@class ='ipl-rating-star small']/span[2]")
for i in ratings:
    try:
        Ratings.append(i.text)
    except:
        Ratings.append("-")
        
votes=driver.find_elements_by_xpath('//span[@name="nv"]')[:53]
for i in votes:
    try:
        Votes.append(i.text)
    except:
        Votes.append("-")

#creating Data frame
Most_watched_tv_series=pd.DataFrame([])
Most_watched_tv_series["Name"]=Name[:53]
Most_watched_tv_series["Year_Span"]=Year_span[:53]
Most_watched_tv_series["Genre"]=Genre[:53]
Most_watched_tv_series["Run_Time"]=Run_Time[:53]
Most_watched_tv_series["Ratings"]=Ratings[:53]
Most_watched_tv_series["Votes"]=Votes[:53]
Most_watched_tv_series

,Name,Year_Span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,844,700"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"882,884"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"884,028"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,531"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,580"
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",59 min,8,"284,202"
6,Riverdale,(2017– ),"Crime, Drama, Mystery",45 min,6.8,"125,816"
7,Grey's Anatomy,(2005– ),"Drama, Romance",41 min,7.5,"265,587"
8,The Flash,(2014– ),"Action, Adventure, Drama",43 min,7.6,"319,386"
9,Arrow,(2012–2020),"Action, Adventure, Crime",42 min,7.5,"414,280"
10,Money Heist,(2017–2021),"Action, Crime, Mystery",70 min,8.3,"340,577"
11,The Big Bang Theory,(2007–2019),"Comedy, Romance",22 min,8.1,"742,376"
12,Black Mirror,(2011– ),"Drama, Sci-Fi, Thriller",60 min,8.8,"468,419"
13,Sherlock,(2010–2017),"Crime, Drama, Mystery",88 min,9.1,"837,627"
14,Vikings,(2013–2020),"Action, Adventure, Drama",44 min,8.5,"458,778"
15,Pretty Little Liars,(2010–2017),"Drama, Mystery, Romance",44 min,7.4,"155,677"
16,The Vampire Diaries,(2009–2017),"Drama, Fantasy, Horror",43 min,7.7,"292,997"
17,American Horror Story,(2011– ),"Drama, Horror, Thriller",60 min,8,"285,767"
18,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",49 min,9.4,"1,548,565"
19,Lucifer,(2016–2021),"Crime, Drama, Fantasy",42 min,8.1,"262,912"
20,Supernatural,(2005–2020),"Drama, Fantasy, Horror",44 min,8.4,"403,590"
21,Prison Break,(2005–2017),"Action, Crime, Drama",44 min,8.3,"491,728"
22,How to Get Away with Murder,(2014–2020),"Crime, Drama, Mystery",43 min,8.1,"135,831"
23,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.6,"132,661"
24,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.6,"374,901"
25,Once Upon a Time,(2011–2018),"Adventure, Fantasy, Romance",60 min,7.7,"212,400"
26,Narcos,(2015–2017),"Biography, Crime, Drama",49 min,8.8,"374,600"
27,Daredevil,(2015–2018),"Action, Crime, Drama",54 min,8.6,"374,249"
28,Friends,(1994–2004),"Comedy, Romance",22 min,8.9,"878,680"
29,How I Met Your Mother,(2005–2014),"Comedy, Romance",22 min,8.3,"623,161"
30,Suits,(2011–2019),"Comedy, Drama",44 min,8.4,"373,709"
31,Mr. Robot,(2015–2019),"Crime, Drama, Thriller",49 min,8.5,"345,167"
32,The Originals,(2013–2018),"Drama, Fantasy, Horror",45 min,8.2,"122,366"
33,Supergirl,(2015–2021),"Action, Adventure, Drama",43 min,6.2,"115,157"
34,Gossip Girl,(2007–2012),"Drama, Romance",42 min,7.4,"159,333"
35,Sense8,(2015–2018),"Drama, Mystery, Sci-Fi",60 min,8.3,"143,847"
36,Gotham,(2014–2019),"Action, Crime, Drama",42 min,7.8,"216,137"
37,Westworld,(2016– ),"Drama, Mystery, Sci-Fi",62 min,8.6,"443,903"
38,Jessica Jones,(2015–2019),"Action, Crime, Drama",56 min,7.9,"197,719"
39,Modern Family,(2009–2020),"Comedy, Drama, Romance",22 min,8.4,"376,959"
40,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",23 min,9.2,"412,388"
41,Shadowhunters,(2016–2019),"Action, Drama, Fantasy",42 min,6.6,"56,050"
42,The End of the F***ing World,(2017–2019),"Adventure, Comedy, Crime",25 min,8.1,"157,271"
43,House of Cards,(2013–2018),Drama,51 min,8.7,"476,125"
44,Dark,(2017–2020),"Crime, Drama, Mystery",60 min,8.8,"311,720"
45,Elite,(2018– ),"Crime, Drama, Thriller",60 min,7.5,"59,391"
46,Sex Education,(2019– ),"Comedy, Drama",45 min,8.3,"176,485"
47,Shameless,(2011–2021),"Comedy, Drama",46 min,8.5,"212,815"
48,New Girl,(2011–2018),Comedy,22 min,7.7,"200,091"
49,Agents of S.H.I.E.L.D.,(2013–2020),"Action, Adventure, Drama",45 min,7.5,"204,855"
50,You,(2018– ),"Crime, Drama, Romance",45 min,7.7,"157,088"
51,Dexter,(2006–2013),"Crime, Drama, Mystery",53 min,8.6,"664,033"
52,Fear the Walking Dead,(2015– ),"Drama, Horror, Sci-Fi",44 min,6.9,"117,715"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [9]:
# Access chrome browser using webdrive
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

# Acess the website
url = ('https://archive.ics.uci.edu/')
driver.get(url)

In [10]:
#clicking the viewall data-set button
viewall = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
viewall.click()

In [11]:
#creating the empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]

#Fetching name detail

name = driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in name:
    try:
        Dataset_name.append(i.text)
    except:
        Dataset_name.append('-') 
        
#Fetching datatype detail
        
dtype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in dtype:
    try:
        Data_type.append(i.text)
    except:
        Data_type.append('-') 
 #Fetching task detail
       
default_task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in default_task:
    try:
        Task.append(i.text)
    except:
        Task.append('-')

#Fetching Attribute_type detail
        
Attritype = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in Attritype:
    try:
        Attribute_type.append(i.text)
    except:
        Attribute_type.append('-') 
        
#Fetching Attribute_type detail   

instances = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in instances:
    try:
        No_of_instances.append(i.text)
    except:
        No_of_instances.append('-') 
        
attributes = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in attributes:
    try:
        No_of_attributes.append(i.text)
    except:
        No_of_attributes.append('-') 
   #Fetching year detail     
year = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in year:
    try:
        Year.append(i.text)
    except:
        Year.append('-') 
        
#creating Data Frame
Details_of_Datasets=pd.DataFrame([])
Details_of_Datasets["Dataset_name"]=Dataset_name[:588]
Details_of_Datasets["Data_type"]=Data_type[:588]
Details_of_Datasets["Task"]=Task[:588]
Details_of_Datasets["Attribute_type"]=Attribute_type[:588]
Details_of_Datasets["No_of_instances"]=No_of_instances[:588]
Details_of_Datasets["No_of_attributes"]=No_of_attributes[:588]
Details_of_Datasets["Year"]=Year[:588]

In [12]:
Details_of_Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Attributes,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",8,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",14,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",38,38,
4,Arrhythmia,,Recommender-Systems,Categorical,294,294,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,"Integer, Real",17,17,2020
584,Gait Classification,Multivariate,Classification,,23,23,2020
585,Wikipedia Math Essentials,Multivariate,Classification,Real,321,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,1068,1068,2021
587,Synchronous Machine Data Set,Time-Series,Regression,Real,1068,1068,2021